<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title class="trnlstxt">Error</title>
</head>
<body>
    <hgroup>
        <h1 class="trnlstxt">Error.</h1>
        <h2 class="trnlstxt">An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>
