<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="TemHash" value="fpKuFQ2ZiE8TQ7th9morLrxtoPjFyBsFsgbFwEQvfsFtTmEvxM" />
    <add key="GoogleTkey" value="AIzaSyBoT043EdBAnuCjofevb_rMbQnAK_Yk4Oc" />
    <add key="FuncionalUser" value="teste123" />
    <add key="FuncionalPassword" value="teste321" />
    <add key="MaxResults" value="50" />
    <add key="SmtpHost" value="smtp.gmail.com" />
    <add key="SmtpPort" value="587" />
    <add key="from" value="donotreply@lotusodonto.com" />
    <add key="fromName" value="Lotus Odonto" />
    <add key="Password" value="Lotus@123" />
    <add key="Cc" value="omar.moreno@bop.com" />
    <add key="TimeIntervalHours" value="1" />
    <add key="StripeKeyTest" value="sk_test_EKiKEPmmMkmAAu1sImjRpcBl" />
    <add key="StripeKeyTestPublish" value="pk_test_bwkFjb4I2x5aFYdzfAjPXCbC" />
    <add key="StripeKeyProd" value="sk_live_fuq5Q9f5nlXQB7U4phvsLpgx" />
    <add key="StripeKeyProdPublish" value="pk_live_sRwpkfuNmlJrosLcmQWl8JWp" />
    <add key="GoogleTkey" value="AIzaSyBlxHSuqxx_USefk3_7GEq114IFEpPzrhM" />
    <add key="ProfilePicturesRoute" value="http://logos.lotusodonto.com/" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFuncionalNovoService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://177.47.22.163:9000/ServicoBeneficiario/FuncionalNovoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFuncionalNovoService" contract="FuncionalWS.IFuncionalNovoService" name="BasicHttpBinding_IFuncionalNovoService" />
    </client>
    <services>
      <service name="Core.UpStream" behaviorConfiguration="myServiceBehavior">
        <endpoint name="webHttpBinding" address="" binding="webHttpBinding" contract="Core.IUpStream" behaviorConfiguration="webHttp" />
        <endpoint name="mexHttpBinding" address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Core.Bop" behaviorConfiguration="myServiceBehaviorBop">
        <endpoint name="webHttpBinding" address="" binding="webHttpBinding" contract="Core.IBop" behaviorConfiguration="webHttp" />
        <endpoint name="mexHttpBinding" address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Core.External" behaviorConfiguration="myServiceBehaviorBop">
        <endpoint name="webHttpBinding" address="" binding="webHttpBinding" contract="Core.IExternal" behaviorConfiguration="webHttp" />
        <endpoint name="mexHttpBinding" address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Core.BopInner" behaviorConfiguration="myServiceBehaviorBop">
        <endpoint name="webHttpBinding" address="" binding="webHttpBinding" contract="Core.IBopInner" behaviorConfiguration="webHttp" />
        <endpoint name="mexHttpBinding" address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Core.LotusSales" behaviorConfiguration="myServiceBehavioraD">
        <endpoint name="webHttpBinding" address="" binding="webHttpBinding" contract="Core.ILotusSales" behaviorConfiguration="webHttp"></endpoint>
        <endpoint name="mexHttpBinding" address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>      
      <service name="Core.Account" behaviorConfiguration="myServiceBehavioraD">
        <endpoint name="webHttpBinding" address="" binding="webHttpBinding" contract="Core.IAccount" behaviorConfiguration="webHttp"></endpoint>
        <endpoint name="mexHttpBinding" address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="Core.Company" behaviorConfiguration="myServiceBehavioraD">
        <endpoint name="webHttpBinding" address="" binding="webHttpBinding" contract="Core.ICompany" behaviorConfiguration="webHttp"></endpoint>
        <endpoint name="mexHttpBinding" address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="myServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceAuthorization serviceAuthorizationManagerType=" Core.RestAuthorizationManager, Core" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="myServiceBehaviorBop">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceAuthorization serviceAuthorizationManagerType=" Core.BopAuthManager, Core" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="myServiceBehavioraD">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="~/UpStream.svc" service="Core.UpStream" />
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="~/Bop.svc" service="Core.Bop" />
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="~/BopInner.svc" service="Core.BopInner" />
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="~/External.svc" service="Core.External" />
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="~/LotusSales.svc" service="Core.LotusSales" />        
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="~/Account.svc" service="Core.Account" />
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="~/Company.svc" service="Core.Company" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,PUT" />
        <add name="Access-Control-Max-Age" value="1728000" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <connectionStrings>    
    <add name="GeneralDb" connectionString="metadata=res://*/DataBase.GeneralDb.csdl|res://*/DataBase.GeneralDb.ssdl|res://*/DataBase.GeneralDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.190.42.100;initial catalog=BOP;persist security info=True;user id=ILOTUS_APP;password=Pa$$w0rd;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>