<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="TemHash" value="fpKuFQ2ZiE8TQ7th9morLrxtoPjFyBsFsgbFwEQvfsFtTmEvxM" />
    <add key="GoogleTkey" value="AIzaSyBoT043EdBAnuCjofevb_rMbQnAK_Yk4Oc" />
    <add key="FuncionalUser" value="teste123" />
    <add key="FuncionalPassword" value="teste321" />
    <add key="MaxResults" value="50" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFuncionalNovoService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://177.47.22.163:9000/ServicoBeneficiario/FuncionalNovoService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFuncionalNovoService"
        contract="FuncionalWS.IFuncionalNovoService" name="BasicHttpBinding_IFuncionalNovoService" />
    </client>
    <services>
      <service name="Core.UpStream" behaviorConfiguration="myServiceBehavior">
        <endpoint name="webHttpBinding" address="" binding="webHttpBinding" contract="Core.IUpStream" behaviorConfiguration="webHttp"/>
        <endpoint name="mexHttpBinding" address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Core.Bop" behaviorConfiguration="myServiceBehaviorBop">
        <endpoint name="webHttpBinding" address="" binding="webHttpBinding" contract="Core.IBop" behaviorConfiguration="webHttp"/>
        <endpoint name="mexHttpBinding" address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Core.External" behaviorConfiguration="myServiceBehaviorBop">
        <endpoint name="webHttpBinding" address="" binding="webHttpBinding" contract="Core.IExternal" behaviorConfiguration="webHttp"/>
        <endpoint name="mexHttpBinding" address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="Core.BopInner" behaviorConfiguration="myServiceBehaviorBop">
        <endpoint name="webHttpBinding" address="" binding="webHttpBinding" contract="Core.IBopInner" behaviorConfiguration="webHttp"/>
        <endpoint name="mexHttpBinding" address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="myServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceAuthorization serviceAuthorizationManagerType=" Core.RestAuthorizationManager, Core"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="myServiceBehaviorBop">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceAuthorization serviceAuthorizationManagerType=" Core.BopAuthManager, Core"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="~/UpStream.svc" service="Core.UpStream"/>
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="~/Bop.svc" service="Core.Bop"/>
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="~/BopInner.svc" service="Core.BopInner"/>
        <add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="~/External.svc" service="Core.External"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept"/>
        <add name="Access-Control-Allow-Methods" value="POST,GET,PUT"/>
        <add name="Access-Control-Max-Age" value="1728000"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <connectionStrings>
    <add name="BopDb" connectionString="metadata=res://*/DataBase.Bop.csdl|res://*/DataBase.Bop.ssdl|res://*/DataBase.Bop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.190.42.100;initial catalog=BOP_TEST;persist security info=True;user id=ILOTUS_APP;password=Pa$$w0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>