<div class="col-md-12">
    <div class="card-box">
        <p class="text-muted m-b-30 font-13">Fill the form to create the users.</p>
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" id="Name" class="form-control trnlstxt" placeholder="Name" required="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" id="LastName" class="form-control trnlstxt" placeholder="LastName" required="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" id="userId" class="form-control trnlstxt" placeholder="Id" required="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="tel" id="CPhn" class="form-control trnlstxt" placeholder="CellPhone" required="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="email" id="example-email" class="form-control trnlstxt" placeholder="Email" required="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" style="display:none !important;">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" id="Bdth" class="form-control datepicker trnlstxt" placeholder="Birthday">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" id="Genre" class="form-control trnlstxt" placeholder="Genre">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" id="Addr" class="form-control trnlstxt" placeholder="Address">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <select class="form-control" id="roles" required="">
                                        <option disabled="" selected="" class="trnlstxt">Select the role</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <select class="form-control" id="languages" required="">
                                        <option disabled="" selected="" class="trnlstxt">Select the language</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <select class="form-control" id="Countries" required="">
                                        <option disabled="" selected="" class="trnlstxt">Select the Nationality</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Create User" class="btn btn-primary btn-custom waves-effect w-md waves-light m-b-5 trnlstxt" />
                }
            </div>
        </div>
    </div>
</div>