<div class="col-md-12">
    <div class="card-box">
        <p class="text-muted m-b-30 font-13">Fill the form to change your password.</p>
        <p class="warning">The password must have, uppercase, lowercase, numbers and special characters, with a minimum length of 8 characters.</p>
        <br />
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="password" id="Ps" class="form-control" placeholder="New Password" required="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-3">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="password" id="Pc" class="form-control" placeholder="Password Confirmation" required="" disabled="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-3">
                            <input type="submit" value="Change Password" class="btn btn-primary btn-custom waves-effect w-md waves-light m-b-5" disabled="" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    (function () {
        $(function () {
            $("form").on("submit", function (e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/Account/ChangePassword",
                    data: { np: $("#Ps").val(), pc: $("#Pc").val() },
                    success: function () {                        
                        $.post("/Account/LogOff", function (data) {
                            if (data) {
                                alert("The password was updated, please sign in again.");
                                localStorage.clear();
                                window.location.href = "/";
                            } else {
                                alert("The password wasn't changed, please try again.")
                                return;
                            }                            
                        });
                    },
                    error: function (xhr) {
                        alert("Opss!! we had an issue, please try again");
                        $.post("/Account/LogOff", function () {
                            localStorage.clear();
                            window.location.href = "/";
                        });
                    },
                    dataType: "json",
                    async: true
                });
            });
            $("#Ps").keyup(function () {
                if (isValidPassword($(this).val())) {
                    $(this).addClass("validNew");
                    $("#Pc").attr('disabled', false);
                } else {
                    $(this).addClass("invalidNew");
                    $("#Pc").attr('disabled', true);
                }
            });
            $("#Pc").keyup(function () {
                if ($("#Ps").val() === $(this).val()) {
                    $(this).addClass("validNew");
                    $('input[type="submit"]').attr('disabled', false);
                } else {
                    $(this).addClass("invalidNew");
                    $('input[type="submit"]').attr('disabled', true);
                }
            });
        });
    })()
</script>
